/* card style */
.card {
  transition: transform 0.3s;
}
.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.04);
}
/* add to cart css */
.gradient-custom {
/* fallback for old browsers */
background: #f5f5f5;
}